<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- bis_coupon_active[bis_coupon_active]SQLMapper自动映射 -->
<!--  注意:此文件由系统平台自动生成-禁止手工修改 2017-04-26 21:47:23 -->
<mapper namespace="com.beauty.common.mapper.CouponActiveMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="com.beauty.common.po.CouponActivePO">
		INSERT INTO bis_coupon_active 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="active_name != null and active_name != ''">
	         active_name, <!-- 活动名称 -->
		</if>
		<if test="beauty_num != null">
	         beauty_num, <!-- 美研券数量 -->
		</if>
		<if test="bond_num != null">
	         bond_num, <!-- 每张美研券兑换美颜币数量 -->
		</if>
		<if test="is_del != null and is_del != ''">
	         is_del, <!-- 是否删除 0有效 1删除 -->
		</if>
		<if test="create_time != null and create_time != ''">
	         create_time, <!-- 创建时间 -->
		</if>
		<if test="create_user_id != null and create_user_id != ''">
	         create_user_id, <!-- 创建用户编号 -->
		</if>
		<if test="modify_time != null and modify_time != ''">
	         modify_time, <!-- 修改时间 -->
		</if>
		<if test="modify_user_id != null and modify_user_id != ''">
	         modify_user_id, <!-- 修改用户ID -->
		</if>
		<if test="active_id != null and active_id != ''">
	          active_id  <!-- 活动编号 -->
	    </if>
        </trim>
	    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
		<if test="active_name != null and active_name != ''">
	          #{active_name, jdbcType=VARCHAR}, <!-- 活动名称 -->
	    </if>
		<if test="beauty_num != null">
	          #{beauty_num, jdbcType=INTEGER}, <!-- 美研券数量 -->
	    </if>
		<if test="bond_num != null">
	          #{bond_num, jdbcType=INTEGER}, <!-- 每张美研券兑换美颜币数量 -->
	    </if>
		<if test="is_del != null and is_del != ''">
	          #{is_del, jdbcType=VARCHAR}, <!-- 是否删除 0有效 1删除 -->
	    </if>
		<if test="create_time != null and create_time != ''">
	          #{create_time, jdbcType=VARCHAR}, <!-- 创建时间 -->
	    </if>
		<if test="create_user_id != null and create_user_id != ''">
	          #{create_user_id, jdbcType=VARCHAR}, <!-- 创建用户编号 -->
	    </if>
		<if test="modify_time != null and modify_time != ''">
	          #{modify_time, jdbcType=VARCHAR}, <!-- 修改时间 -->
	    </if>
		<if test="modify_user_id != null and modify_user_id != ''">
	          #{modify_user_id, jdbcType=VARCHAR}, <!-- 修改用户ID -->
	    </if>
		<if test="active_id != null and active_id != ''">
		     #{active_id, jdbcType=VARCHAR}  <!-- 活动编号 -->
	    </if>
		</trim>
		
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll"  parameterType="com.beauty.common.po.CouponActivePO">
		INSERT INTO bis_coupon_active (
          active_id,  <!-- 活动编号 -->
		  active_name,  <!-- 活动名称 -->
		  beauty_num,  <!-- 美研券数量 -->
		  bond_num,  <!-- 每张美研券兑换美颜币数量 -->
		  is_del,  <!-- 是否删除 0有效 1删除 -->
		  create_time,  <!-- 创建时间 -->
		  create_user_id,  <!-- 创建用户编号 -->
		  modify_time,  <!-- 修改时间 -->
		  modify_user_id  <!-- 修改用户ID -->
		)
		VALUES (
            #{active_id, jdbcType=VARCHAR},   <!-- 活动编号 -->
		    #{active_name, jdbcType=VARCHAR},  <!-- 活动名称 -->
		    #{beauty_num, jdbcType=INTEGER},  <!-- 美研券数量 -->
		    #{bond_num, jdbcType=INTEGER},  <!-- 每张美研券兑换美颜币数量 -->
		    #{is_del, jdbcType=VARCHAR},  <!-- 是否删除 0有效 1删除 -->
		    #{create_time, jdbcType=VARCHAR},  <!-- 创建时间 -->
		    #{create_user_id, jdbcType=VARCHAR},  <!-- 创建用户编号 -->
		    #{modify_time, jdbcType=VARCHAR},  <!-- 修改时间 -->
		    #{modify_user_id, jdbcType=VARCHAR}  <!-- 修改用户ID -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="com.beauty.common.po.CouponActivePO">
		UPDATE bis_coupon_active
		<set>
			<if test="active_name != null">
		          active_name = #{active_name, jdbcType=VARCHAR},  <!-- 活动名称 -->
			</if>
			<if test="beauty_num != null">
		          beauty_num = #{beauty_num, jdbcType=INTEGER},  <!-- 美研券数量 -->
			</if>
			<if test="bond_num != null">
		          bond_num = #{bond_num, jdbcType=INTEGER},  <!-- 每张美研券兑换美颜币数量 -->
			</if>
			<if test="is_del != null">
		          is_del = #{is_del, jdbcType=VARCHAR},  <!-- 是否删除 0有效 1删除 -->
			</if>
			<if test="create_time != null">
		          create_time = #{create_time, jdbcType=VARCHAR},  <!-- 创建时间 -->
			</if>
			<if test="create_user_id != null">
		          create_user_id = #{create_user_id, jdbcType=VARCHAR},  <!-- 创建用户编号 -->
			</if>
			<if test="modify_time != null">
		          modify_time = #{modify_time, jdbcType=VARCHAR},  <!-- 修改时间 -->
			</if>
			<if test="modify_user_id != null">
		          modify_user_id = #{modify_user_id, jdbcType=VARCHAR},  <!-- 修改用户ID -->
			</if>
		</set>
		WHERE  active_id = #{active_id}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM bis_coupon_active WHERE  active_id = #{active_id}
	</delete>
	
	<!-- 批量根据主键删除数据持久化对象 -->
	<delete id="batchDeleteByKey"  parameterType="java.lang.String">
		DELETE FROM bis_coupon_active WHERE active_id IN 
		<foreach item="active_id" index="index" collection="list" separator="," open="(" close=")">
		#{active_id}
	    </foreach>
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="com.beauty.common.po.CouponActivePO">
		SELECT
		<include refid="column" />
		FROM bis_coupon_active WHERE  active_id = #{active_id}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="com.beauty.common.po.CouponActivePO">
		SELECT
		    <include refid="column" />
		FROM bis_coupon_active
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="com.beauty.common.po.CouponActivePO">
		SELECT
			<include refid="column" />	
		FROM bis_coupon_active
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="com.beauty.common.po.CouponActivePO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM bis_coupon_active
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="com.beauty.common.po.CouponActivePO">
		SELECT
			<include refid="column" />	
		FROM bis_coupon_active
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="com.beauty.common.po.CouponActivePO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM bis_coupon_active
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS rows_ FROM bis_coupon_active
		<where>
		    <include refid="equal" />
		</where>
	</select>
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM bis_coupon_active
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	
	<!-- 表字段 -->
	<sql id="column">
		  active_id,  <!-- 活动编号 -->
		  active_name,  <!-- 活动名称 -->
		  beauty_num,  <!-- 美研券数量 -->
		  bond_num,  <!-- 每张美研券兑换美颜币数量 -->
		  is_del,  <!-- 是否删除 0有效 1删除 -->
		  create_time,  <!-- 创建时间 -->
		  create_user_id,  <!-- 创建用户编号 -->
		  modify_time,  <!-- 修改时间 -->
		  modify_user_id  <!-- 修改用户ID -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  bis_coupon_active.active_id,  <!-- 活动编号 -->
		  bis_coupon_active.active_name,  <!-- 活动名称 -->
		  bis_coupon_active.beauty_num,  <!-- 美研券数量 -->
		  bis_coupon_active.bond_num,  <!-- 每张美研券兑换美颜币数量 -->
		  bis_coupon_active.is_del,  <!-- 是否删除 0有效 1删除 -->
		  bis_coupon_active.create_time,  <!-- 创建时间 -->
		  bis_coupon_active.create_user_id,  <!-- 创建用户编号 -->
		  bis_coupon_active.modify_time,  <!-- 修改时间 -->
		  bis_coupon_active.modify_user_id  <!-- 修改用户ID -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	    <if test="active_id != null and active_id != ''">
		      AND active_id = #{active_id}  <!-- 活动编号 -->
		</if>
	    <if test="active_name != null and active_name != ''">
		      AND active_name = #{active_name}  <!-- 活动名称 -->
		</if>
	   <if test="beauty_num != null ">
		      AND beauty_num = #{beauty_num}  <!-- 美研券数量 -->
		</if>
	   <if test="bond_num != null ">
		      AND bond_num = #{bond_num}  <!-- 每张美研券兑换美颜币数量 -->
		</if>
	    <if test="is_del != null and is_del != ''">
		      AND is_del = #{is_del}  <!-- 是否删除 0有效 1删除 -->
		</if>
	    <if test="create_time != null and create_time != ''">
		      AND create_time = #{create_time}  <!-- 创建时间 -->
		</if>
	    <if test="create_user_id != null and create_user_id != ''">
		      AND create_user_id = #{create_user_id}  <!-- 创建用户编号 -->
		</if>
	    <if test="modify_time != null and modify_time != ''">
		      AND modify_time = #{modify_time}  <!-- 修改时间 -->
		</if>
	    <if test="modify_user_id != null and modify_user_id != ''">
		      AND modify_user_id = #{modify_user_id}  <!-- 修改用户ID -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="active_id != null and active_id != ''">
		      AND active_id LIKE '%${active_id}%'  <!-- 活动编号 -->
		</if>
	    <if test="active_name != null and active_name != ''">
		      AND active_name LIKE '%${active_name}%'  <!-- 活动名称 -->
		</if>
	    <if test="is_del != null and is_del != ''">
		      AND is_del LIKE '%${is_del}%'  <!-- 是否删除 0有效 1删除 -->
		</if>
	    <if test="create_time != null and create_time != ''">
		      AND create_time LIKE '%${create_time}%'  <!-- 创建时间 -->
		</if>
	    <if test="create_user_id != null and create_user_id != ''">
		      AND create_user_id LIKE '%${create_user_id}%'  <!-- 创建用户编号 -->
		</if>
	    <if test="modify_time != null and modify_time != ''">
		      AND modify_time LIKE '%${modify_time}%'  <!-- 修改时间 -->
		</if>
	    <if test="modify_user_id != null and modify_user_id != ''">
		      AND modify_user_id LIKE '%${modify_user_id}%'  <!-- 修改用户ID -->
		</if>
	</sql>
	
</mapper>