.table_add{
	background:url('../images/icons/table_add.png') no-repeat center center;
}
.table_edit{
	background:url('../images/icons/table_edit.png') no-repeat center center;
}
.table_delete{
	background:url('../images/icons/table_delete.png') no-repeat center center;
}
.page_add{
	background:url('../images/icons/page_add.png') no-repeat center center;
}
.page_edit{
	background:url('../images/icons/page_edit.png') no-repeat center center;
}
.page_delete{
	background:url('../images/icons/page_delete.png') no-repeat center center;
}
.function_menu{
	background:url('../images/icons/function_menu.png') no-repeat center center;
}
.system_manage{
	background:url('../images/icons/folder.png') no-repeat center center;
}
.home{
	background:url('../images/icons/home.png') no-repeat center center;
}
.param_config{
	background:url('../images/icons/param_config.png') no-repeat center center;
}
.menu_cancel{
	background:url('../images/icons/menu_cancel.png') no-repeat center center;
}
.close_current{
	background:url('../images/icons/close_current.png') no-repeat center center;
}
.close_other{
	background:url('../images/icons/close_other.png') no-repeat center center;
}
.close_all{
	background:url('../images/icons/close_all.png') no-repeat center center;
}
.close_left{
	background:url('../images/icons/close_left.png') no-repeat center center;
}
.close_right{
	background:url('../images/icons/close_right.png') no-repeat center center;
}
.add{
	background:url('../images/icons/add.png') no-repeat center center;
}
.edit{
	background:url('../images/icons/edit.png') no-repeat center center;
}
.del{
	background:url('../images/icons/del.png') no-repeat center center;
}
.tree_leaf{
	background:url('../images/icons/tree_leaf.gif') no-repeat center center;
}
.close{
	background:url('../images/icons/close.png') no-repeat center center;
}
.book{
	background:url('../images/icons/book.png') no-repeat center center;
}
.addCatalog{
	background:url('../images/icons/addCatalog.png') no-repeat center center;
}
.catalog{
	background:url('../images/icons/catalog.png') no-repeat center center;
}
.refresh{
	background:url('../images/icons/refresh.png') no-repeat center center;
}
.ok{
	background:url('../images/icons/ok.png') no-repeat center center;
}
.folder{
	background:url('../images/icons/folder.png') no-repeat center center;
}
.menu_config{
	background:url('../images/icons/menu_config.png') no-repeat center center;
}
.dictionary{
	background:url('../images/icons/dictionary.png') no-repeat center center;
}
.global{
	background:url('../images/icons/global.png') no-repeat center center;
}
.rank_grant{
	background:url('../images/icons/rank_grant.png') no-repeat center center;
}
.group_link{
	background:url('../images/icons/group_link.png') no-repeat center center;
}
.password_reset{
	background:url('../images/icons/password_reset.png') no-repeat center center;
}
.user_config{
	background:url('../images/icons/user.png') no-repeat center center;
}
.user_move{
	background:url('../images/icons/user_move.png') no-repeat center center;
}
.business{
	background:url('../images/icons/business.png') no-repeat center center;
}
.member{
	background:url('../images/icons/member.png') no-repeat center center;
}
.upload{
	background:url('../images/icons/upload.png') no-repeat center center;
}
.member_auth{
	background:url('../images/icons/member_auth.png') no-repeat center center;
}
.audit_yes{
	background:url('../images/icons/audit_yes.png') no-repeat center center;
}
.audit_no{
	background:url('../images/icons/audit_no.png') no-repeat center center;
}
.up{
	background:url('../images/icons/up.png') no-repeat center center;
}
.down{
	background:url('../images/icons/down.png') no-repeat center center;
}
.dept_config{
	background:url('../images/icons/dept_config.png') no-repeat center center;
}
.dept_move{
	background:url('../images/icons/dept_move.png') no-repeat center center;
}
.user_grant{
	background:url('../images/icons/user_grant.png') no-repeat center center;
}
.role_grant{
	background:url('../images/icons/role_grant.png') no-repeat center center;
}
.left{
	background:url('../images/icons/left.png') no-repeat center center;
}
.right{
	background:url('../images/icons/right.png') no-repeat center center;
}
.menu_default{
	background:url('../images/icons/tree_leaf.gif') no-repeat center center;
}
.config{
	background:url('../images/icons/config.png') no-repeat center center;
}
.wechat{
	background:url('../images/icons/wechat.png') no-repeat center center;
}
.excel{
	background:url('../images/icons/excel.png') no-repeat center center;
}
